@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafb;
    background-image: linear-gradient(to right, #d3dce6 1px, transparent 1px), linear-gradient(to bottom, #d3dce6 1px, transparent 1px);
    background-size: 20px 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-color: #ffcc80;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    color: #333;
    font-size: 28px;
    font-family: 'Patrick Hand', cursive;
}
.resultado-simulador {
    margin-top: 20px;
    padding: 10px;
    background-color: #e3f2fd;
    border: 1px solid #90cdf4;
    border-radius: 5px;
}
.btn-simulador {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

#simulador, #informe {
    background-color: #ffffff;
    border: 2px dashed #90cdf4;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #2d3748;
    font-family: 'Patrick Hand', cursive;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #4a5568;
    margin-bottom: 20px;
    line-height: 1.7;
    text-align: justify;
}

form, button, #resultado {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d3dce6;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    appearance: textfield;
}

input[type="number"]:focus {
    border-color: #90cdf4;
    box-shadow: 0 0 5px rgba(144, 205, 244, 0.5);
}
#form-notas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}


button {
    background-color: #90cdf4;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(99, 179, 237, 0.3);
}

#resultado {
    font-size: 18px;
    color: #4a5568;
    text-align: left;
    background-color: #f7fafc;
    border: 1px solid #d3dce6;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.feedback-excelente {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 6px;
}

.feedback-bueno {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border-radius: 6px;
}

.feedback-malo {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 6px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
    animation: fadeIn 0.5s ease-in-out; 
}

.modal-content {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 90%;
    text-align: center;
    position: relative; 
    animation: popIn 0.3s ease-in-out; 
}


.cerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ff6b6b;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cerrar:hover {
    color: #e63946; 
}


.modal-content button {
    background-color:#90cdf4;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-content button:hover {
    background-color: #90cdf4;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(99, 179, 237, 0.4);
}
.intro {
    padding: 70px;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 500px;
    width: 90%;
    border: 2px solid #90cdf4; 
    background: linear-gradient(135deg, rgba(144, 205, 244, 0.2), rgba(99, 179, 237, 0.1)); /* Fondo degradado translúcido */
    text-align: center;
    backdrop-filter: blur(10px); 
}

.intro h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: black; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra ligera en el texto */
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.7;
    color: #333; 
    font-weight: 500;
}
.btn {
    background-color: #ffcc80; 
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; 
}
.btn:hover {
    background-color: #ffc267; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 193, 7, 0.4);
}

.volver-container {
    position: absolute; 
    top: 80px; 
    left: 20px; 
    z-index: 1000;
    padding: 10px;
    background: none; 
}

.btn-volver {
    background: none !important;
    color: BLACK !important; 
    font-weight: 200;
    border: none; 
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline; 
    padding: 0; 
    box-shadow: none !important; 
    transition: none;
}

.btn-volver:hover {
    color: #555; 
    transform: none;
    background: none !important; 
    box-shadow: none !important; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#graficoPromedios {
    max-width: 600px; 
    height: 700px; 
    margin: 30px auto; 
    padding: 20px; 
    border-radius: 15px; 
    background-color: #ffffff; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ddd; 
}


